{"openapi":"3.1.0","servers":[{"url":"https://manapool.com/api/v1","description":"Mana Pool Production API (uses live data)"}],"info":{"title":"Mana Pool Public API","description":"This API provides integration endpoints allowing users to manage accounts,\nconnect services, handle inventory, and process orders within the Mana\nPool platform.\n\nTo use this API, you must have a Mana Pool account and generate an API\naccess token. To generate an access token, visit your integration settings\nin the Mana Pool dashboard.\n\n<a href=\"/seller/integrations/manapool-api\">API Integration Settings</a>\n\n<b>Warning: The v1 API is still in active development and is subject to change without notice.</b>","version":"0.24.1"},"paths":{"/prices/singles":{"get":{"tags":["prices"],"description":"Get prices for all in stock singles","responses":{"200":{"description":"Prices for all in stock products","headers":{"Content-Disposition":{"schema":{"type":"string","description":"Content-Disposition header","example":"attachment; filename=\"singles.csv\""},"required":true}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/singlesPricesList"}},"text/csv":{}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":406},"message":{"type":"string","description":"Error message","example":"Not Acceptable"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"406 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/prices/variants":{"get":{"tags":["prices"],"description":"Get prices and availabile quantities for all in stock variants","responses":{"200":{"description":"Prices for all in stock products","headers":{"Content-Disposition":{"schema":{"type":"string","description":"Content-Disposition header","example":"attachment; filename=\"variants.csv\""},"required":true}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/variantPricesList"}},"text/csv":{}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":406},"message":{"type":"string","description":"Error message","example":"Not Acceptable"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"406 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/prices/sealed":{"get":{"tags":["prices"],"description":"Get prices and availabile quantities for all in stock sealed products","responses":{"200":{"description":"Prices for all in stock products","headers":{"Content-Disposition":{"schema":{"type":"string","description":"Content-Disposition header","example":"attachment; filename=\"sealed.csv\""},"required":true}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sealedPricesList"}},"text/csv":{}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":406},"message":{"type":"string","description":"Error message","example":"Not Acceptable"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"406 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/buyer/optimizer":{"post":{"tags":["buyer:optimizer"],"description":"Produce an optimized cart","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/optimizerRequest"}}}},"responses":{"200":{"description":"Optimized cart","content":{"application/json":{"schema":{"$ref":"#/components/schemas/optimizedCart"}},"application/x-ndjson":{"schema":{"type":"string","description":"NDJSON stream of increasingly optimized carts","example":"{\"cart\":[{\"inventory_id\":\"aee01e9c-0445-4228-a73a-3e5744844ed3\",\"quantity_selected\":1}],\"totals\":{\"subtotal_cents\":1000,\"shipping_cents\":500,\"total_cents\":1500,\"seller_count\":1},\"stats\":{\"init_time\":1000,\"query_time\":1000,\"first_response_time\":1000,\"response_time\":1000}}\n{\"cart\":[{\"inventory_id\":\"aee01e9c-0445-4228-a73a-3e5744844ed3\",\"quantity_selected\":1}],\"totals\":{\"subtotal_cents\":1000,\"shipping_cents\":500,\"total_cents\":1500,\"seller_count\":1},\"stats\":{\"init_time\":1000,\"query_time\":1000,\"first_response_time\":1000,\"response_time\":1000}}"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":409},"message":{"type":"string","description":"Error message","example":"Conflict"},"details":{"type":"array","items":{"type":"object","properties":{"item":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"mtg_single","description":"Item type"},"name":{"type":"string","description":"Card Name","example":"Polar Kraken"},"set_code":{"type":"string","description":"Restrict card to a specific set code","example":"ICE"},"collector_number":{"type":"string","description":"Restrict card to a specific collector number","example":"8"},"is_token":{"type":"boolean","default":false,"description":"Is the requested item a token or art card","example":false},"include_non_sanctioned_legal":{"type":"boolean","default":false,"description":"Allow optimizer to select non-sanctioned legal cards (CE / 30A / etc.)"},"mtgjson_id":{"type":["string","null"],"description":"Restrict card to a specific mtgjson id (overrides is_token and include_non_sanctioned_legal)","example":"aee01e9c-0445-4228-a73a-3e5744844ed3"},"language_ids":{"type":["array","null"],"items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]},"description":"Restrict item to a specific langauge","example":["EN"]},"finish_ids":{"type":["array","null"],"items":{"type":"string","enum":["NF","FO","EF"]},"description":"Restrict item to specific finishes","example":["FO","EF"]},"condition_ids":{"type":["array","null"],"items":{"type":"string","enum":["NM","LP","MP","HP","DMG"]},"description":"Restrict item to specific conditions","example":["NM","LP"]}},"required":["type","name","language_ids","finish_ids","condition_ids"],"description":"Card Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"uri","description":"Item type"},"uri":{"type":"string","pattern":"\\/card\\/([^/]+)\\/([^/]+)(?:\\/([^/]+))?$","description":"Card URI","example":"https://manapool.com/card/blb/219/the-infamous-cruelclaw"},"language_ids":{"type":["array","null"],"items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]},"description":"Restrict item to a specific langauge","example":["EN"]},"finish_ids":{"type":["array","null"],"items":{"type":"string","enum":["NF","FO","EF"]},"description":"Restrict item to specific finishes","example":["FO","EF"]},"condition_ids":{"type":["array","null"],"items":{"type":"string","enum":["NM","LP","MP","HP","DMG"]},"description":"Restrict item to specific conditions","example":["NM","LP"]}},"required":["type","uri","language_ids","finish_ids","condition_ids"],"description":"Card URI Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"mtg_sealed","description":"Item type"},"mtgjson_id":{"type":"string","description":"mtgjson sealed product id","example":"aee01e9c-0445-4228-a73a-3e5744844ed3"},"language_ids":{"type":["array","null"],"items":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"]},"description":"Restrict item to a specific langauge","example":["EN"]}},"required":["type","mtgjson_id","language_ids"],"description":"Sealed Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"tcg_sku","description":"Item type"},"tcgplayer_sku_ids":{"type":"array","items":{"type":"number"},"description":"Acceptable tcgplayer skus for this item"}},"required":["type","tcgplayer_sku_ids"],"description":"TCGPlayer SKU Request Item"},{"type":"object","properties":{"type":{"type":"string","const":"product","description":"Item type"},"product_type":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"Product type","example":"mtg_single"},"product_ids":{"type":"array","items":{"type":"string"},"description":"Product IDs for this item"}},"required":["type","product_type","product_ids"],"description":"Raw Product Request Item"}]},{"type":"object","properties":{"quantity_requested":{"type":"integer","exclusiveMinimum":0,"description":"Number of items","example":1}},"required":["quantity_requested"]},{"type":"object","properties":{"index":{"type":"integer","minimum":0,"description":"Index of the item in the requested cart","example":0}},"required":["index"]}],"description":"Requested item that could not be satisfied","example":{"type":"mtg_single","name":"Polar Kraken","quantity_requested":1,"language_ids":["EN"],"finish_ids":["NF"],"condition_ids":["NM","LP"],"index":0}},"total_available":{"type":"integer","minimum":0,"description":"Total available for this item","example":0}},"required":["item","total_available"],"description":"Detail of an item that could not be satisfied due to insufficient inventory","example":{"item":{"type":"mtg_single","name":"Polar Kraken","quantity_requested":1,"language_ids":["EN"],"finish_ids":["NF"],"condition_ids":["NM","LP"],"index":0},"total_available":0}},"description":"Error details","example":[{"item":{"type":"mtg_single","name":"Polar Kraken","quantity_requested":1,"language_ids":["EN"],"finish_ids":["NF"],"condition_ids":["NM","LP"],"index":0},"total_available":0}]}},"required":["status","message"],"description":"409 API error"}}}},"422":{"description":"Unprocessable content","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":422},"message":{"type":"string","description":"Error message","example":"Unprocessable content"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"422 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/buyer/orders":{"get":{"tags":["buyer:orders"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"parameters":[{"in":"query","name":"since","description":"Orders since timestamp","schema":{"type":"string","format":"date-time","description":"Orders since timestamp","example":"2022-01-01T00:00:00Z"}},{"in":"query","name":"limit","description":"How many orders to return","schema":{"type":"integer","minimum":1,"maximum":500,"default":100,"description":"How many orders to return","example":100}},{"in":"query","name":"offset","description":"Offset for pagination","schema":{"type":"integer","minimum":0,"default":0,"description":"Offset for pagination","example":0}}],"responses":{"200":{"description":"Orders fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Order ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"created_at":{"type":"string","description":"Created at timestamp","example":"2024-04-01T05:44:13.336106+00:00"},"subtotal_cents":{"type":"number","description":"Subtotal in cents","example":1000},"tax_cents":{"type":"number","description":"Tax in cents","example":100},"shipping_cents":{"type":"number","description":"Shipping in cents","example":100},"total_cents":{"type":"number","description":"Total in cents","example":1200},"order_number":{"type":"string","description":"Order Label","example":"1234"},"order_seller_details":{"type":"array","items":{"type":"object","properties":{"order_number":{"type":"string","description":"Seller Label","example":"1234-5678"},"seller_id":{"type":"string","format":"uuid","description":"Seller ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"seller_username":{"type":"string","description":"Seller Username","example":"seller"},"item_count":{"type":"number","description":"Number of items shipped from this seller","example":1}},"required":["order_number","seller_id","seller_username","item_count"],"description":"Seller Order Details"},"description":"Seller Order Details","example":[{"order_number":"1234-5678","seller_id":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3","seller_username":"seller","item_count":1}]}},"required":["id","created_at","subtotal_cents","tax_cents","shipping_cents","total_cents","order_number","order_seller_details"],"description":"Buyer Order List Response"},"description":"List of orders"}},"required":["orders"],"description":"Orders"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/buyer/orders/{id}":{"get":{"tags":["buyer:orders"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"parameters":[{"in":"path","name":"id","description":"Buyer Order ID","schema":{"type":"string","format":"uuid","description":"Buyer Order ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"required":true}],"responses":{"200":{"description":"Order fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"order":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Order ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"created_at":{"type":"string","description":"Created at timestamp","example":"2024-04-01T05:44:13.336106+00:00"},"subtotal_cents":{"type":"number","description":"Subtotal in cents","example":1000},"tax_cents":{"type":"number","description":"Tax in cents","example":100},"shipping_cents":{"type":"number","description":"Shipping in cents","example":100},"total_cents":{"type":"number","description":"Total in cents","example":1200},"order_number":{"type":"string","description":"Order Label","example":"1234"},"order_seller_details":{"type":"array","items":{"type":"object","properties":{"order_number":{"type":"string","description":"Seller Label","example":"1234-5678"},"seller_id":{"type":"string","format":"uuid","description":"Seller ID","example":"f4b3b9c5-250e-4c3a-815d-6e41577f28e3"},"seller_username":{"type":"string","description":"Seller Username","example":"seller"},"fulfillments":{"type":"array","items":{"type":"object","properties":{"status":{"type":["string","null"],"enum":["error","processing","shipped","delivered","refunded","replaced",null],"description":"Fulfillment status"},"tracking_company":{"type":["string","null"],"description":"Tracking company"},"tracking_number":{"type":["string","null"],"description":"Tracking number"},"tracking_url":{"type":["string","null"],"description":"Tracking URL"},"in_transit_at":{"type":["string","null"],"format":"date-time","description":"In transit at timestamp"}},"required":["status","tracking_company","tracking_number","tracking_url","in_transit_at"]},"description":"Fulfillments"},"items":{"type":"array","items":{"type":"object","properties":{"price_cents":{"type":"number","description":"Price in cents","example":1000},"quantity":{"type":"number","description":"Quantity","example":1},"product":{"type":"object","properties":{"product_type":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"product type"},"product_id":{"type":"string","format":"uuid","description":"product id"},"single":{"type":["object","null"],"properties":{"scryfall_id":{"type":"string","format":"uuid","description":"scryfall id"},"mtgjson_id":{"type":"string","format":"uuid","description":"mtgjson id"},"name":{"type":"string","description":"card name"},"set":{"type":"string","description":"set code"},"number":{"type":"string","description":"collector number"},"language_id":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"],"description":"language id"},"condition_id":{"type":"string","enum":["NM","LP","MP","HP","DMG"],"description":"condition id"},"finish_id":{"type":"string","enum":["NF","FO","EF"],"description":"finish id"}},"required":["scryfall_id","mtgjson_id","name","set","number","language_id","condition_id","finish_id"],"description":"single"},"sealed":{"type":["object","null"],"properties":{"mtgjson_id":{"type":"string","format":"uuid","description":"mtgjson id"},"name":{"type":"string","description":"sealed product name"},"set":{"type":"string","description":"set code"},"language_id":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"],"description":"language id"}},"required":["mtgjson_id","name","set","language_id"],"description":"sealed"}},"required":["product_type","product_id","single","sealed"],"description":"product"}},"required":["price_cents","quantity","product"]},"description":"Order Items"}},"required":["order_number","seller_id","seller_username","fulfillments","items"],"description":"Seller Order Details"},"description":"Seller Order Details"}},"required":["id","created_at","subtotal_cents","tax_cents","shipping_cents","total_cents","order_number","order_seller_details"],"description":"Order"}},"required":["order"],"description":"Order details"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Order not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/buyer/orders/pending-orders":{"post":{"tags":["buyer:orders"],"description":"Create a new order","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pendingOrderRequest"}}}},"responses":{"200":{"description":"Pending order created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pendingOrder"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/buyer/orders/pending-orders/{id}":{"get":{"tags":["buyer:orders"],"description":"Get details for a pending order","parameters":[{"in":"path","name":"id","description":"Unique identifier for the pending order","schema":{"type":"string","format":"uuid","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true}],"responses":{"200":{"description":"Pending order details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pendingOrder"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Order not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"put":{"tags":["buyer:orders"],"description":"Update a pending order","parameters":[{"in":"path","name":"id","description":"Unique identifier for the pending order","schema":{"type":"string","format":"uuid","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/pendingOrderRequest"}}}},"responses":{"200":{"description":"Pending order updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pendingOrder"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Order not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"423":{"description":"Order not pending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":423},"message":{"type":"string","description":"Error message","example":"Order not pending"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"423 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/buyer/orders/pending-orders/{id}/purchase":{"post":{"tags":["buyer:orders"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Purchase a pending order","parameters":[{"in":"path","name":"id","description":"Unique identifier for the pending order","schema":{"type":"string","format":"uuid","description":"Unique identifier for the pending order","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/purchasePendingOrderRequest"}}}},"responses":{"200":{"description":"Order purchased","content":{"application/json":{"schema":{"$ref":"#/components/schemas/pendingOrder"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"402":{"description":"Insufficient funds","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":402},"message":{"type":"string","description":"Error message","example":"Insufficient funds"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"402 API error"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Order not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"423":{"description":"Order not pending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":423},"message":{"type":"string","description":"Error message","example":"Order not pending"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"423 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/buyer/credit":{"get":{"tags":["buyer:credit"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller credit balance","responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"user_credit_cents":{"type":"number","description":"User Credit in cents"}},"required":["user_credit_cents"],"description":"User credit levels"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/account":{"get":{"tags":["seller:account"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller account","responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sellerAccount"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"put":{"tags":["seller:account"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Update seller account","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/sellerAccountUpdate"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sellerAccount"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/card_info":{"post":{"summary":"Get card information","description":"Look up information for multiple cards by name","operationId":"getCardInfo","tags":["card info"],"requestBody":{"description":"Card names to look up","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"card_names":{"type":"array","items":{"type":"string"},"minItems":1,"maxItems":100,"description":"List of card names to look up (max 100)","example":["Lightning Bolt","Counterspell","Dark Ritual"]}},"required":["card_names"],"description":"Request body for card information lookup"}}}},"responses":{"200":{"description":"Card information retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"cards":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"The exact card name"},"set_code":{"type":"string","description":"Set code"},"set_name":{"type":"string","description":"Set name"},"card_number":{"type":"string","description":"Card number in set"},"rarity":{"type":"string","description":"Card rarity"},"from_price_cents":{"type":["number","null"],"description":"Lowest price in cents"},"quantity_available":{"type":"number","description":"Total quantity in stock"},"release_date":{"type":"string","description":"Set release date"},"legal_formats":{"type":"array","items":{"type":"string"},"description":"Formats where the card is legal"},"flavor_name":{"type":["string","null"],"description":"Flavor name if applicable"},"layout":{"type":["string","null"],"description":"Card layout"},"is_token":{"type":"boolean","description":"Whether this is a token"},"promo_types":{"type":["array","null"],"items":{"type":"string"},"description":"Promo types if applicable"},"finishes":{"type":["array","null"],"items":{"type":"string"},"description":"Available finishes"},"text":{"type":["string","null"],"description":"Card rules text"},"color_identity":{"type":["array","null"],"items":{"type":"string"},"description":"Color identity for Commander format"},"edhrecSaltiness":{"type":["string","null"],"description":"EDHREC saltiness rating"},"power":{"type":["string","null"],"description":"Creature power"},"defense":{"type":["string","null"],"description":"Creature toughness/defense"},"mana_cost":{"type":["string","null"],"description":"Mana cost"},"mana_value":{"type":["string","null"],"description":"Converted mana cost"}},"required":["name","set_code","set_name","card_number","rarity","from_price_cents","quantity_available","release_date","legal_formats","flavor_name","layout","is_token","promo_types","finishes","text","color_identity","edhrecSaltiness","power","defense","mana_cost","mana_value"],"description":"Card information object"},"description":"List of card information objects"},"not_found":{"type":"array","items":{"type":"string"},"description":"Card names that were not found"}},"required":["cards","not_found"],"description":"Response containing card information and not found cards"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}}}}},"/deck":{"post":{"tags":["deck"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"summary":"Validate deck","description":"Validate if a deck is a valid commander deck","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/deckCreateRequest"}}}},"responses":{"200":{"description":"Deck created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/deckCreateResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Invalid request data"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/inventory/listings":{"get":{"tags":["buyer:listings"],"parameters":[{"in":"query","name":"id","description":"inventory item ids","schema":{"type":"array","items":{"type":"string","format":"uuid"},"description":"inventory item ids"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory_items":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem"},"description":"list of matched inventory items"}},"required":["inventory_items"],"description":"inventory items response"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/inventory/listings/{id}":{"get":{"tags":["buyer:listings"],"parameters":[{"in":"path","name":"id","description":"inventory item id","schema":{"type":"string","format":"uuid","description":"inventory item id","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory_item":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory_item"],"description":"inventory item response"}}}},"404":{"description":"Inventory item not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Inventory item not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/inventory/tcgsku/{sku}":{"get":{"tags":["legacy:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller inventory item by TCGPlayer SKU","deprecated":true,"summary":"See \"GET /seller/inventory/tcgsku/{sku}\"","parameters":[{"in":"path","name":"sku","description":"TCGPlayer SKU","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"delete":{"tags":["legacy:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Delete seller inventory item by TCGPlayer SKU","deprecated":true,"summary":"See \"DELETE /seller/inventory/tcgsku/{sku}\"","parameters":[{"in":"path","name":"sku","description":"TCGPlayer SKU","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"put":{"tags":["legacy:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Set price and quantity for inventory item by TCGPlayer SKU","deprecated":true,"summary":"See \"PUT /seller/inventory/tcgsku/{sku}\"","parameters":[{"in":"path","name":"sku","description":"TCGPlayer SKU","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"price_cents":{"type":"number","description":"Price in cents","example":525},"quantity":{"type":"number","description":"Quantity","example":3}},"required":["price_cents","quantity"],"description":"Set inventory item"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/job-apply":{"post":{"tags":["job-application"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Submit a job application for the software engineering position","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"first_name":{"type":"string","description":"Applicant's first name","example":"John"},"last_name":{"type":"string","description":"Applicant's last name","example":"Doe"},"email":{"type":"string","format":"email","description":"Applicant's email address","example":"john.doe@example.com"},"linkedin_url":{"type":"string","description":"Applicant's LinkedIn profile URL (optional)","example":"https://linkedin.com/in/johndoe"},"github_url":{"type":"string","description":"Applicant's GitHub profile URL (optional)","example":"https://github.com/johndoe"},"application":{"type":"string","description":"A zip file containing your resume, cover letter, and API app (max 25MB)","format":"binary"}},"required":["first_name","last_name","email","application"],"description":"Job application form data with application file"}}}},"responses":{"201":{"description":"Application submitted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/jobApplicationResponse"}}}},"400":{"description":"Bad Request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad Request - Invalid input data"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"413":{"description":"Payload Too Large - File exceeds 25MB limit","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":413},"message":{"type":"string","description":"Error message","example":"Payload Too Large - File exceeds 25MB limit"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"413 API error"}}}},"415":{"description":"Unsupported Media Type - Only ZIP files are accepted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":415},"message":{"type":"string","description":"Error message","example":"Unsupported Media Type - Only ZIP files are accepted"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"415 API error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal Server Error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/seller/inventory":{"get":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller inventory","parameters":[{"in":"query","name":"limit","description":"How many inventory items to return","schema":{"type":"integer","minimum":1,"maximum":10000,"default":100,"description":"How many inventory items to return","example":100}},{"in":"query","name":"offset","description":"Offset for pagination","schema":{"type":"integer","minimum":0,"default":0,"description":"Offset for pagination","example":0}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem"},"description":"Inventory items"},"pagination":{"type":"object","properties":{"total":{"type":"number","description":"Total number of inventory items"},"returned":{"type":"number","description":"Number of inventory items returned"},"offset":{"type":"number","description":"Offset for pagination"},"limit":{"type":"number","description":"How many inventory items to return"}},"required":["total","returned","offset","limit"],"description":"Pagination"}},"required":["inventory","pagination"],"description":"Multiple inventory items response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"post":{"tags":["legacy:seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Bulk set quantity and price for inventory by TCGPlayer SKU","deprecated":true,"summary":"See \"POST /seller/inventory/tcgsku\"","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"tcgplayer_sku":{"type":"number","description":"TCGPlayer SKU","example":7526508},"price_cents":{"type":"integer","minimum":1,"maximum":2147483647,"description":"Price in cents","example":525},"quantity":{"type":"integer","minimum":0,"maximum":2147483647,"description":"Quantity","example":3}},"required":["tcgplayer_sku","price_cents","quantity"]},"minItems":1,"maxItems":2000,"description":"Bulk inventory update request"}}}},"responses":{"200":{"description":"Bulk inventory update response","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem"},"description":"Updated inventory items"}},"required":["inventory"],"description":"Bulk inventory update response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/seller/inventory/tcgsku":{"post":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Bulk set quantity and price for inventory by TCGPlayer SKU","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"tcgplayer_sku":{"type":"number","description":"TCGPlayer SKU","example":7526508},"price_cents":{"type":"integer","minimum":1,"maximum":2147483647,"description":"Price in cents","example":525},"quantity":{"type":"integer","minimum":0,"maximum":2147483647,"description":"Quantity","example":3}},"required":["tcgplayer_sku","price_cents","quantity"]},"minItems":1,"maxItems":2000,"description":"Bulk inventory update request"}}}},"responses":{"200":{"description":"Bulk inventory update response","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem"},"description":"Updated inventory items"}},"required":["inventory"],"description":"Bulk inventory update response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/seller/inventory/tcgsku/{sku}":{"get":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller inventory item by TCGPlayer SKU","parameters":[{"in":"path","name":"sku","description":"TCGPlayer SKU","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"delete":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Delete seller inventory item by TCGPlayer SKU","parameters":[{"in":"path","name":"sku","description":"TCGPlayer SKU","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"put":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Set price and quantity for inventory item by TCGPlayer SKU","parameters":[{"in":"path","name":"sku","description":"TCGPlayer SKU","schema":{"type":"string","description":"TCGPlayer SKU","example":"7526508"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"price_cents":{"type":"number","description":"Price in cents","example":525},"quantity":{"type":"number","description":"Quantity","example":3}},"required":["price_cents","quantity"],"description":"Set inventory item"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/seller/inventory/product":{"post":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Bulk set quantity and price for inventory by Mana Pool Product ID","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"product_type":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"Product Type","example":"mtg_single"},"product_id":{"type":"string","format":"uuid","description":"Mana Pool Product ID","example":"9d08d62f-b4c7-4698-b255-89f1f7aa7539"},"price_cents":{"type":"integer","minimum":1,"maximum":2147483647,"description":"Price in cents","example":525},"quantity":{"type":"integer","minimum":0,"maximum":2147483647,"description":"Quantity","example":3}},"required":["product_type","product_id","price_cents","quantity"]},"minItems":1,"maxItems":2000,"description":"Bulk inventory update request"}}}},"responses":{"200":{"description":"Bulk inventory update response","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem"},"description":"Updated inventory items"}},"required":["inventory"],"description":"Bulk inventory update response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product not found"},"details":{"type":"array","items":{"type":"object","properties":{"product_type":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"Product Type"},"product_id":{"type":"string","format":"uuid","description":"Mana Pool Product ID"}},"required":["product_type","product_id"],"description":"Missing tuple"},"description":"Error details","example":[{"product_type":"mtg_single","product_id":"9d08d62f-b4c7-4698-b255-89f1f7aa7539"}]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/seller/inventory/product/{product_type}/{product_id}":{"get":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller inventory item by Mana Pool Product ID","parameters":[{"in":"path","name":"product_type","description":"Product Type","schema":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"Product Type","example":"mtg_single"},"required":true},{"in":"path","name":"product_id","description":"Mana Pool Product ID","schema":{"type":"string","format":"uuid","description":"Mana Pool Product ID","example":"9d08d62f-b4c7-4698-b255-89f1f7aa7539"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"delete":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Delete seller inventory item by Mana Pool Product ID","parameters":[{"in":"path","name":"product_type","description":"Product Type","schema":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"Product Type","example":"mtg_single"},"required":true},{"in":"path","name":"product_id","description":"Mana Pool Product ID","schema":{"type":"string","format":"uuid","description":"Mana Pool Product ID","example":"9d08d62f-b4c7-4698-b255-89f1f7aa7539"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}},"put":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Set price and quantity for inventory by Mana Pool Product ID","parameters":[{"in":"path","name":"product_type","description":"Product Type","schema":{"type":"string","enum":["mtg_single","mtg_sealed"],"description":"Product Type","example":"mtg_single"},"required":true},{"in":"path","name":"product_id","description":"Mana Pool Product ID","schema":{"type":"string","format":"uuid","description":"Mana Pool Product ID","example":"9d08d62f-b4c7-4698-b255-89f1f7aa7539"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"price_cents":{"type":"number","description":"Price in cents","example":525},"quantity":{"type":"number","description":"Quantity","example":3}},"required":["price_cents","quantity"],"description":"Set inventory item"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product or existing inventory not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product or existing inventory not found"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/seller/inventory/scryfall_id":{"post":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Bulk set quantity and price for inventory by Scryfall ID","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"scryfall_id":{"type":"string","format":"uuid","description":"Scryfall ID","example":"c4643512-6071-45c4-bffc-8feec5bb094f"},"language_id":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"],"description":"Language","example":"EN"},"finish_id":{"type":"string","enum":["NF","FO","EF"],"description":"Finish","example":"NF"},"condition_id":{"type":"string","enum":["NM","LP","MP","HP","DMG"],"description":"Condition","example":"NM"},"price_cents":{"type":"integer","minimum":1,"maximum":2147483647,"description":"Price in cents","example":525},"quantity":{"type":"integer","minimum":0,"maximum":2147483647,"description":"Quantity","example":3}},"required":["scryfall_id","language_id","finish_id","condition_id","price_cents","quantity"]},"minItems":1,"maxItems":2000,"description":"Bulk inventory update request"}}}},"responses":{"200":{"description":"Bulk inventory update response","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"type":"array","items":{"$ref":"#/components/schemas/inventoryItem"},"description":"Updated inventory items"}},"required":["inventory"],"description":"Bulk inventory update response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"Error message","example":"Bad request"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"400 API error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":401},"message":{"type":"string","description":"Error message","example":"Unauthorized"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"401 API error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":403},"message":{"type":"string","description":"Error message","example":"Forbidden"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"403 API error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":404},"message":{"type":"string","description":"Error message","example":"Product not found"},"details":{"type":"array","items":{"type":"object","properties":{"scryfall_id":{"type":"string","format":"uuid","description":"Scryfall ID"},"language_id":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"],"description":"Language"},"finish_id":{"type":"string","enum":["NF","FO","EF"],"description":"Finish"},"condition_id":{"type":"string","enum":["NM","LP","MP","HP","DMG"],"description":"Condition"}},"required":["scryfall_id","language_id","finish_id","condition_id"],"description":"Missing tuple"},"description":"Error details","example":[{"scryfall_id":"c4643512-6071-45c4-bffc-8feec5bb094f","language_id":"EN","finish_id":"NF","condition_id":"NM"}]}},"required":["status","message"],"description":"404 API error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":500},"message":{"type":"string","description":"Error message","example":"Internal server error"},"details":{"type":"array","items":{"type":"string","description":"Error details","example":"error details"},"description":"Error details","example":["error details"]}},"required":["status","message"],"description":"500 API error"}}}}}}},"/seller/inventory/scryfall_id/{scryfall_id}":{"get":{"tags":["seller:inventory"],"security":[{"emailHeader":[],"accessTokenHeader":[]},{"authTokenCoookie":[]}],"description":"Get seller inventory items by Scryfall ID","parameters":[{"in":"path","name":"scryfall_id","description":"Scryfall ID","schema":{"type":"string","description":"Scryfall ID","example":"c4643512-6071-45c4-bffc-8feec5bb094f"},"required":true},{"in":"query","name":"language_id","description":"Language for the entry to modify","schema":{"type":"string","enum":["EN","JA","FR","IT","DE","ES","AR","CS","CT","EL","HE","KO","LA","PH","PT","RU","SA"],"description":"Language for the entry to modify","example":"EN"},"required":true},{"in":"query","name":"finish_id","description":"Finish for the entry to modify","schema":{"type":"string","enum":["NF","FO","EF"],"description":"Finish for the entry to modify","example":"NF"},"required":true},{"in":"query","name":"condition_id","description":"Condition for the entry to modify","schema":{"type":"string","enum":["NM","LP","MP","HP","DMG"],"description":"Condition for the entry to modify","example":"NM"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"inventory":{"$ref":"#/components/schemas/inventoryItem"}},"required":["inventory"],"description":"Single inventory item response"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code","example":400},"message":{"type":"string","description":"
[...]
